.title {
  color: purple;
  font-weight: bold;
  font-size: 2rem;
}

.titles-form {
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 250px;
  border: 3px dashed #ccc;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: 1%;
}

input[type="file"] {
  display: none;


}

.image-icon{
  width: 60px;

}